/* src/components/Header.css */
header {
    background-color: #ffd369;
    color: #222831;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
  }
  
  h1 {
    margin: 0;
    font-size: 40px;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 900;
  }
  
  nav {
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    gap: 32px;
  }
  
  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul li span {
    cursor: pointer;
    color: #393e46;
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid #ffd369;
  }
  
  .active_menu {
    color: #6986ff;
  }
  
  nav ul li span:hover {
    color: #393e46;
    border-bottom: 2px solid #393e46;
  }
  